:{$PROXY_PORT} {
    log /var/log/access.log

    errors /var/log/errors.log

    tls {$DOCKER_TLS_SERVER_PATH}/tls/server-cert.pem {$DOCKER_TLS_SERVER_PATH}/tls/server-key.pem {
        clients {$DOCKER_TLS_SERVER_PATH}/tls/ca.pem
    }

    proxy {$PROXY_FROM} {$PROXY_TO} {
        transparent
    }
}

